.f1{
    display: flex;
    background-color:  rgb(113, 160, 252);
    margin-top: 8%;
    color: white;
}
.f2{
   margin-left: 4%;
    margin-top: 3%;
    text-align: left;
 width:400px
}
.f3{
    margin-top: 3%;
    text-align: left;
 width:300px;
 margin-left:5% ;
}